.Comentarios {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.Comentarios .Comentario {
  width: 100%;
  max-width: 400px;
  background-color: #e6e1dc;
  color: black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.Comentarios .Comentario .user {
  display: flex;
  align-items: center;
}

.Comentarios .Comentario .user img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
  border-radius: 50%;
  margin-right: 5px;
}

.Comentarios .Comentario .user p {
  font-weight: bold;
  font-size: 17px;
}

.Comentarios .Comentario .Text {
  font-size: 15px;
  text-align: left;
  margin-top: 10px;
}

@media (max-width: 830px) {
  .Comentarios {
    flex-direction: column;
    width: 100%;
  }

  .Comentarios .Comentario {
    max-width: 95%;
    margin: 10px auto;
  }

  .S9gUrf-YoZ4jf {
    display: flex;
    justify-content: center;
  }
}
