* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(4, 33, 49);
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FormComents {
  margin: auto;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

@media (max-width: 830px) {
  .App-header {
    flex-direction: column;
  }

  .FormComents {
    margin: auto;
  }
}
